/*
  =========================
  egenn bookdown custom CSS
  =========================
*/

/* Import Google fonts: 
Nav & Sans head: Lato, Sans body: PT Sans, Serif head & body: Merriweather, Code: Fira Mono */
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Header */
.book .book-header {
    /* height: 50px; */
    border-bottom: none;
}

/* hover title on header for both light and dark set to gray50 */
.book .book-header h1 a, .book .book-header h1 a:hover {
    color: #7f7f7f;
    text-decoration: none;
}

/* Font settings menu */
.book.color-theme-2 .dropdown-menu .button {
    color: #707070;
}

.book.color-theme-2 .dropdown-menu .buttons .button:hover {
    color: #e9e9e9;
}

.color-theme-2 .dropdown-menu .dropdown-caret .caret-inner {
    border-bottom: 9px solid #f00;
        border-bottom-color: #303030;
        border-bottom-style: solid;
        border-bottom-width: 9px;
}

.color-theme-2 .dropdown-menu .buttons {
    border-color: #404040;
}

/* L/R book arrows */
.book.color-theme-2 .book-body .navigation {
    color: #7f7f7f;
}

.book .book-body .navigation {
    color: #7f7f7f;
}

/* General content */
p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* Links, body */
.book .book-body .page-wrapper .page-inner section.normal a {
    color: #0290EE;
}

.book .book-body .page-wrapper .page-inner section.normal a:active, .book .book-body .page-wrapper .page-inner section.normal a:focus {
    color: #0290EE;
    text-decoration: none;
}

.book .book-body .page-wrapper .page-inner section.normal a:hover {
    color: #FE8A4F;
    text-decoration: none;
}

.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal a {
    color: #0290EE;
}

.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal a:active, .book .book-body .page-wrapper .page-inner section.normal a:focus {
    color: #0290EE;
    text-decoration: none;
}

.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal a:hover {
    color: #FE4AA3;
    text-decoration: none;
}

.level1 .header-section-number {
  display: inline-block;
  border-bottom: 4px solid;
  border-bottom-color: #00214799
}

/* 
------------
 Dark theme
------------
*/

/* Header */
/* .book.color-theme-2 .book-header.fixed {
  background: #121212 !important;
} */

.book.color-theme-2 .book-header .btn {
    color: #909090;
}

.level1 .header-section-number {
    display: inline-block;
    border-bottom: 4px solid;
    border-bottom-color: #7f7f7f7f;
}

/* Outer margin */
.book.color-theme-2 .book-body {
    color: #e9e9e9;
    background: #252525;
}

/* Content */
.book.color-theme-2 .book-body .page-wrapper .page-inner section {
    background: #252525;
}

.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal {
    color: #e9e9e9;
}

.book.color-theme-2 .dropdown-menu {
    color: #e9e9e9;
    background-color: #303030;
    border-color: #404040;
}

/* Nav Light */

/* divider */
.book .book-summary ul.summary li.divider {
    background: transparent;
    box-shadow: none;
}

.book .book-summary {
    background: #555555;
}

.book .book-summary ul.summary li a, .book.color-theme-2 .book-summary ul.summary li span {
    color: #e9e9e9;
    background: transparent;
    font-weight: 400;
}

.book .book-summary ul.summary li a:hover {
    color: #e9e9e9;
    background: #606060 !important;
}

.book .book-summary ul.summary li.active > a {
    color: #ffffff;
    background: #757575 !important;
    font-weight: 600;
}

/* Nav Dark */

/* divider */
.book.color-theme-2 .book-summary ul.summary li.divider {
    background: transparent;
    box-shadow: none;
}

.book.color-theme-2 .book-summary {
    background: #121212;
}

.book.color-theme-2 .book-summary ul.summary li a, .book.color-theme-2 .book-summary ul.summary li span {
    color: #c1c1c1;
    background: transparent;
    font-weight: 400;
}

.book.color-theme-2 .book-summary ul.summary li a:hover {
    background: #202020 !important;
    font-weight: 400;
}

.book.color-theme-2 .book-summary ul.summary li.active > a {
    color: #f4f4f5;
    background: #353535 !important;
    font-weight: 600;
}

/*
--------
  Fonts
--------
*/

/* Nav fonts */
.book .book-header, .book .book-summary {
    font-family: Lato, sans-serif;
}

/* Sans fonts */
.book.font-family-1 {
    font-family: "PT Sans", sans-serif;
}

/*  For sans, use Lato for headers */
.book.font-family-1 h1,
.book.font-family-1 h2,
.book.font-family-1 h3,
.book.font-family-1 h4,
.book.font-family-1 h5 {
    font-family: Lato, sans-serif;
}

/* Serif fonts */
.book.font-family-0 {
    font-family: Merriweather, serif;
}

/* Code */
.book .book-body .page-wrapper .page-inner section.normal code, .book .book-body .page-wrapper .page-inner section.normal pre {
    font-family: "Fira Mono", monospace;
    direction: ltr;
    border: none;
    color: inherit;
}

/* Input code box to differentiate from output */
pre.sourceCode {
    border-left-color: rgb(24, 163, 172) !important;
    border-left-style: solid !important;
    border-left-width: medium;
}

/*
--------------
  Syntax Light
--------------
*/

.book .book-body .page-wrapper .page-inner section.normal pre {
    background: #eeeeee;
}

/* .book code  {
    ! color: #111111 !important;
} */

.book span.operator, span.paren {
    color: #111111;
}

.book span.identifier {
    color: #111111;
}

.book span.number {
    color: #18A3AC;
}

.book span.literal {
    color: #18A3AC;
}

.book span.string {
    color: #FE8A4F;
}

.book span.keyword, .book span.kw {
    color: #0290EE;
}

.book span.comment {
    color: rgb(120, 120, 120);
}

/*
--------------
  Syntax Dark
--------------
*/
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal pre, .book.color-theme-2 .book-body .page-wrapper .page-inner section.normal code {
    background: #181818;
}

.book.color-theme-2 code  {
    color: #e9e9e9 !important;
}
.book.color-theme-2 span.operator, .book.color-theme-2 span.paren {
    color: #e9e9e9;
}

.book.color-theme-2 span.identifier {
    color: #e9e9e9;
}

.book.color-theme-2 span.number {
    color: rgb(128, 215, 215);
}

.book.color-theme-2 span.literal {
    color: rgb(128, 215, 215);
}

.book.color-theme-2 span.string {
    color: #FE8A4F;
}

.book.color-theme-2 span.keyword, .book.color-theme-2 span.kw {
    color: #0290EE;
}

.book.color-theme-2 span.comment {
    color: rgb(120, 120, 120);
}

/* Search box */
.book .book-summary .book-search input, .book .book-summary .book-search input:focus, .book .book-summary .book-search input:hover {
    color: #ffffff;
}

.book.color-theme-2 .book-summary .book-search input, .book.color-theme-2 .book-summary .book-search input:focus {
    border: 1px solid #878787;
}

/* Info, Note and Warning boxes */
.Info {
    background-color: #178CCB33;
    margin: 0 5% 0 5%;
    padding: 0% 2% 0% 3%;
    border-left: thin solid #178CCB;
    border-top: thin solid #178CCB;
    border-bottom: thin solid #178CCB;
    border-right: 1ch solid #178CCB;
}

.Note {
    background-color: #FE8A4F33;
    margin: 5%;
    padding: 0% 2% 0% 3%;
    border-left: thin solid #FE8A4F;
    border-top: thin solid #FE8A4F;
    border-bottom: thin solid #FE8A4F;
    border-right: 1ch solid #FE8A4F;
}

.Warning {
    background-color: #ff000033;
    margin: 5%;
    padding: 0% 2% 0% 3%;
    border-left: thin solid #ff0000;
    border-top: thin solid #ff0000;
    border-bottom: thin solid #ff0000;
    border-right: 1ch solid #ff0000;
}

.book .book-body .page-wrapper .page-inner section.normal blockquote, .book .book-body .page-wrapper .page-inner section.normal dl, .book .book-body .page-wrapper .page-inner section.normal ol, .book .book-body .page-wrapper .page-inner section.normal p, .book .book-body .page-wrapper .page-inner section.normal table, .book .book-body .page-wrapper .page-inner section.normal ul {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}
