// Shared defaults for both color modes.
$font-family-sans-serif: Geist, sans-serif !default;
$font-family-monospace: "Geist Mono", monospace !default;
$navbar-padding-y: .375rem !default;
$navbar-bg: #141414 !default;
$navbar-fg: #eeeeee !default;
