/*-- scss:rules --*/

// Optional webR and webexercises integration.
:root {
  --runcolor: #00A3AD;
  --linkcolor: #00778B;
  --hoverlinkcolor: #00A3AD;
  
  --orange: #FF8F28;
}

:root {
  
  --incorrect: #E44C9A;
  --incorrect_alpha: #E9ABCB;
  --correct: #00A3AD;
  --correct_alpha: #A4D0D5;
  --highlight: #FF8F28;
}

.qwebr-editor-toolbar {
  background-color: var(--code-bg);
  padding: 0.1rem 0.1rem;
  
}

.qwebr-button {
  background-color: #fff0;
  display: inline-block;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  color: #000;
  border-color: #ccc;
  border: 1px solid rgba(0, 0, 0, 0);
  
  font-size: .9rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.qwebr-icon-run-code {
  color: var(--runcolor);
}

.qwebr-editor .monaco-editor .margin,
.qwebr-editor .monaco-editor .monaco-editor-background {
  background-color: var(--code-bg);
}

.monaco-editor pre {
  background-color: var(--code-bg);
}

.check {
  border-radius: 5px;
}

.check .qwebr-icon-run-code {
  color: var(--orange);
}

.qwebr-button-run span {
  display: none;
}

.qwebr-button-run::after {
  content: "Run";
}

.check .qwebr-button-run span {
  display: none;
}

.practice .qwebr-editor-toolbar {
  border-top: 1px solid var(--orange);
  border-right: 1px solid var(--orange);
  border-left: 1px solid var(--orange);
}

.practice .qwebr-editor {
  border-bottom: 1px solid var(--orange) !important;
  border-right: 1px solid var(--orange) !important;
  border-left: 1px solid var(--orange) !important;
}

.check .qwebr-button-run::after {
  content: "Check";
}

.qwebr-editor {
  font-family: "Geist Mono", monospace;
  
}

.qwebr-editor .monaco-editor .line-numbers {
  font-size: 80%;
  color: #aaa !important;
  font-style: italic;
}

.monaco-editor .margin .cldr.codicon.codicon-folding-expanded,
.monaco-editor .margin .cldr.codicon.codicon-folding-collapsed {
  color: #6c727c !important;
}

.qwebr-interactive-area {
  margin: 1rem 0;
}

.view-line {
  font-family: "Geist Mono", monospace;
  
}

button.qwebr-button-run {
  
  border-radius: 0.5rem;

  border-width: 1.5px;
  text-transform: uppercase;
  font-size: 70%;

}

.sourceCode {
  background-color: var(--code-bg);
}

.hidden {
  
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

@media print {
  .hidden {
    display: block;
  }
}

.webex-box {
    border: 1px solid var(--highlight);
    padding: 0.5em 0.25em;
    margin: 1em 0;
    
    background-color: rgba(127, 127, 127, 0.05);
}

.webex-total_correct {
    margin-left: 1em;
}

.unchecked .webex-total_correct {
    display: none;
}

.unchecked .webex-incorrect,
.unchecked .webex-correct {
    border: 2px dotted grey !important;
    background-color: white !important;
}

.webex-select,
input.webex-solveme,
.unchecked .webex-radiogroup label.webex-incorrect,
.unchecked .webex-radiogroup label.webex-correct {
    border: 2px dotted grey;
    background-color: white;
    border-radius: 0.25em;
}

.webex-incorrect,
input.webex-solveme.webex-incorrect,
.webex-radiogroup label.webex-incorrect {
    border: 2px dotted var(--incorrect);
    background-color: var(--incorrect_alpha);
    color: black;
    border-radius: 0.25em;
}

.webex-correct,
input.webex-solveme.webex-correct,
.webex-radiogroup label.webex-correct {
    border: 2px solid var(--correct);
    background-color: var(--correct_alpha);
    color: black;
    border-radius: 0.25em;
}

.unchecked .webex-incorrect span::before,
.unchecked .webex-incorrect+.webex-icon::after,
.unchecked .webex-correct span::before,
.unchecked .webex-correct+.webex-icon::after {
    content: "  ";
}

.webex-incorrect span::before,
.webex-incorrect+.webex-icon::after {
    content: "\274C  ";
}

.webex-correct span::before,
.webex-correct+.webex-icon::after {
    content: "\2705  ";
}

.webex-solution {
    height: 2.5em;
    overflow-y: hidden;
    padding: 0.5em;
    margin-bottom: 10px;
}

.webex-solution.open {
    height: auto;
    border: 2px solid var(--highlight);
    border-radius: 5px;
}

.webex-solution button,
.webex-check-button {
    height: 2em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    border-radius: 0.5em;
    background-color: var(--highlight);
    color: white;
    padding: 0 0.5em;
    border: none;
}

.webex-solution pre.sourceCode {
    border-color: var(--correct);
}

.webex-radiogroup label {
    margin-left: 2em;
    text-indent: -1em;
    padding-left: 0.5em;
    font-weight: 400;
    display: block;
    border: 2px solid rgba(255, 255, 255, 0);
    background-color: inherit;
    border-radius: 0.25em;
}

.webex-radiogroup label input {
    position: relative;
    left: -1em;
}

.webex-radiogroup {
    margin: 1em 0;
}

.qwebr-modal-content {
    background-color: #161616 !important;
    color: #e7e7e7 !important;
}

.qwebr-output-code-area {
    margin-top: 0.5rem;
}

.quarto-dark .webex-solveme {
    background-color: #222222 !important;
    color: #e7e7e7 !important;
}
