@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700');

/* @import url('https://rsms.me/inter/inter.css'); */

/* html,
body {
    font-family: Inter, sans-serif;
    font-feature-settings: 'cv11' 1, 'liga' 1, 'calt' 1;
}

@supports (font-variation-settings: normal) {

    html,
    body {
        font-family: InterVariable, sans-serif;
        font-feature-settings: 'cv11' 1, 'liga' 1, 'calt' 1;
    }
} */ */

/* .sidebar {
    line-height: 1.2rem;
} */

/* Spacing around paragraphs */
/* h2, h3, h4, h5 {
    margin-top: 3.5rem !important;
} */

/* For paragraphs in boxes */
/* p {
    margin-bottom: 0;
} */

/* Font sizes */
.figure-caption {
    font-size: 0.9rem;
}

/* Links */
a {
    text-decoration: none;
}

/* Source code */
div.sourceCode {
    border: none;
}

code.sourceCode {
    font-family: "Fira Code", "Fira Mono";
}

/* Input source code left border */
/* pre.sourceCode {
    border-left-color: #BDE3F6 !important;
    border-left-style: solid !important;
    border-left-width: medium;
} */

/* no bg for code in headings */
h1 code,
h2 code,
h3 code,
h4 code {
    background-color: transparent;
}

.imgs {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  filter: drop-shadow(0 0 .4rem #333);
}

/* .figure-caption {
    font-style: italic;
} */

/* Do not add bg color to code outside code blocks */
p code:not(.sourceCode),
li code:not(.sourceCode) {
    background-color: transparent;
}
