/*-- scss:defaults --*/

// All bootstrap variables: 
// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss

// 25 builtin bootswatch themes: 
// https://github.com/quarto-dev/quarto-cli/tree/main/src/resources/formats/html/bootstrap/themes

$theme: "rtemis-light" !default;

//
// Color system
//

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #ebebeb !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #888 !default;
$gray-700: #444 !default;
$gray-800: #303030 !default;
$gray-900: #222 !default;
$black:    #000 !default;

$blue:    #375a7f !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #e74c3c !default;
$orange:  #fd7e14 !default;
$yellow:  #f39c12 !default;
$green:   #00bc8c !default;
$teal:    #20c997 !default;
$cyan:    #3498db !default;

$rthighlight:#16A0AC;
$rthighlite: #60D0DA;
$rtdark:       #093f44;
$rtlight:      #8ff6ff;
// Body

// $body-bg:                   $white !default;
$body-bg:                   #d9d9d9 !default;
$body-color:                $black !default;

@function body-mix($weight) {
    @return mix($body-bg, $body-color, $weight);
}

$primary:       $rthighlight !default;
$secondary:     body-mix(85%) !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
// This is inconsistent with Bootstrap semantics. That is, $dark
// should actually be a light color in a dark mode setting, :shrug:
// https://github.com/thomaspark/bootswatch/issues/989
$light:         body-mix(65%) !default;
$dark:          body-mix(95%) !default;

$min-contrast-ratio:   1.9 !default;

// Links

$link-color:                $rthighlight !default;

// Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:      Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-monospace:       Fira Code, Menlo, Monaco, Consolas, "Courier New", monospace !default;

$font-size-base:              0.9rem !default;
$h1-font-size:                2.0rem !default;
$h2-font-size:                1.7rem !default;
$h3-font-size:                1.4rem !default;
$text-muted:                  body-mix(75%) !default;

// Tables

$table-border-color:          body-mix(85%) !default;

$table-bg-scale:              0 !default;

// Forms

$input-bg:                          $white !default;
$input-color:                       body-mix(50%) !default;
$input-border-color:                body-mix(50%) !default;
$input-group-addon-color:           body-mix(65%) !default;
$input-group-addon-bg:              body-mix(85%) !default;

$form-check-input-bg:                     $body-color !default;
$form-check-input-border:                 none !default;

$form-file-button-color:          $body-color !default;

// Dropdowns

$dropdown-bg:                       $body-bg !default;
$dropdown-border-color:             body-mix(85%) !default;
$dropdown-divider-bg:               body-mix(85%) !default;
$dropdown-link-color:               $body-color !default;
$dropdown-link-hover-color:         $body-color !default;
$dropdown-link-hover-bg:            $primary !default;

// Navs

$nav-link-padding-x:                2rem !default;
$nav-link-disabled-color:           body-mix(65%) !default;
$nav-tabs-border-color:             body-mix(85%) !default;
$nav-tabs-link-hover-border-color:  $nav-tabs-border-color $nav-tabs-border-color transparent !default;
$nav-tabs-link-active-color:        $body-color !default;
$nav-tabs-link-active-border-color: $nav-tabs-border-color $nav-tabs-border-color transparent !default;

// Navbar

$navbar-padding-y:                  1rem !default;
$navbar-light-bg:                   $primary !default;
$navbar-dark-bg:                    $success !default;

// Pagination

$pagination-color:                  $body-color !default;
$pagination-bg:                     $success !default;
$pagination-border-width:           0 !default;
$pagination-border-color:           transparent !default;
$pagination-hover-color:            $body-color !default;
$pagination-hover-bg:               lighten($success, 10%) !default;
$pagination-hover-border-color:     transparent !default;
$pagination-active-bg:              $pagination-hover-bg !default;
$pagination-active-border-color:    transparent !default;
$pagination-disabled-color:         $body-color !default;
$pagination-disabled-bg:            darken($success, 15%) !default;
$pagination-disabled-border-color:  transparent !default;

// Cards

$card-cap-bg:                       body-mix(85%) !default;
$card-bg:                           body-mix(95%) !default;

// Popovers

$popover-bg:                        body-mix(95%) !default;
$popover-header-bg:                 body-mix(85%) !default;

// Toasts

$toast-background-color:            body-mix(85%) !default;
$toast-header-background-color:     body-mix(95%) !default;

// Modals

$modal-content-bg:                  body-mix(95%) !default;
$modal-content-border-color:        body-mix(85%) !default;
$modal-header-border-color:         body-mix(85%) !default;

// Progress bars

$progress-bg:                       body-mix(85%) !default;

// List group

$list-group-color:                  $body-color !default;
$list-group-bg:                     body-mix(95%) !default;
$list-group-border-color:           body-mix(85%) !default;
$list-group-hover-bg:               body-mix(85%) !default;
$list-group-action-hover-color:     $list-group-color !default;
$list-group-action-active-bg:       body-mix(99%) !default;

// Breadcrumbs

$breadcrumb-padding-y:              .375rem !default;
$breadcrumb-padding-x:              .75rem !default;
$breadcrumb-bg:                     body-mix(85%) !default;
$breadcrumb-border-radius:          .25rem !default;

// Close

$btn-close-color:            $body-color !default;
$btn-close-opacity:          .4 !default;
$btn-close-hover-opacity:    1 !default;

// Code

$pre-color:                         inherit !default;

// inline code

$code-color:                $rtdark  !default;
// these 2 no effect
$code-bg:                 #d5d5d5;
$pre-bg:                  #d5d5d5;
pre code {
  background-color: #d5d5d5;
}

/*-- scss:rules --*/

// Variables

$web-font-path: "https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

// Typography

.blockquote {
  &-footer {
    color: body-mix(75%);
  }
}

// Forms

.input-group-addon {
  color: $body-color;
}

.form-floating > label {
  color: $gray-700;
}

// Navs

.nav-tabs,
.nav-pills {
  .nav-link,
  .nav-link.active,
  .nav-link.active:focus,
  .nav-link.active:hover,
  .nav-item.open .nav-link,
  .nav-item.open .nav-link:focus,
  .nav-item.open .nav-link:hover {
    color: $body-color;
  }
}

.breadcrumb a {
  color: $body-color;
}

.pagination {
  a:hover {
    text-decoration: none;
  }
}

// Indicators

.alert {
  border: none;
  color: $body-color;

  a,
  .alert-link {
    color: $body-color;
    text-decoration: underline;
  }

  @each $color, $value in $theme-colors {
    &-#{$color} {
      @if $enable-gradients {
        background: $value linear-gradient(180deg, mix($body-color, $value, 15%), $value) repeat-x;
      } @else {
        background-color: $value;
      }
    }
  }
}


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.
// rem calculated based on root font-size of 16px
// https://nekocalc.com/px-to-rem-converter

// Small screen / tablet
$container-tablet: (
  45rem + $grid-gutter-width) !default;
//** For `$screen-sm-min` and up.
$container-sm: $container-tablet  !default;

// Medium screen / desktop
$container-desktop: (
  58.75rem + $grid-gutter-width) !default;
//** For `$screen-md-min` and up.
$container-md: $container-desktop  !default;

// Large screen / wide desktop
$container-large-desktop: (
  71.25rem + $grid-gutter-width) !default;
//** For `$screen-lg-min` and up.
$container-lg: $container-large-desktop  !default;

// img shadow
.rtimg {
  filter: drop-shadow(0 0 .3rem #333) !important;
}

// Search box bg
.aa-Autocomplete .aa-Form,
.aa-DetachedFormContainer .aa-Form {
  background-color: $body-bg;
}
